### Job Application data from LinkedIn consists of following attributes:

Application Date, Contact Email, Contact Phone Number, Company Name, Job Title, Job Url, Resume Name, Question And Answers

### The Application Date format is DateTime: 

8/9/22, 11:37 PM

### The following are the attributes needed for the analysis:

1. Application Date
2. Company Name
3. Job Title

Rest of the attributes data can be empty for sample data.

In [1]:
# Importing libraries
import pandas as pd
import random
from datetime import datetime, timedelta

In [2]:
# Define the range of dates
start_date = datetime(2020, 1, 1)
end_date = datetime.now()

In [3]:
# Generating a list of unique dates with desired frequency
date_range = pd.date_range(start=start_date, end=end_date, freq='D')
dates = sorted(random.sample(list(date_range), k=1000))

In [4]:
# Generating a list of recurring company names
company_names = ['Company A', 'Company B', 'Company C', 'Company D', 'Company E',
                 'Company F', 'Company G', 'Company H', 'Company I', 'Company J',
                 'Company K', 'Company L', 'Company M', 'Company N', 'Company O',
                 'Company P', 'Company Q', 'Company R', 'Company S', 'Company T']

# Generating a list of recurring job titles
job_titles = ['Job Title 1', 'Job Title 2', 'Job Title 3', 'Job Title 4', 'Job Title 5',
              'Job Title 6', 'Job Title 7', 'Job Title 8', 'Job Title 9', 'Job Title 10',
              'Job Title 11', 'Job Title 12', 'Job Title 13', 'Job Title 14', 'Job Title 15',
              'Job Title 16', 'Job Title 17', 'Job Title 18', 'Job Title 19', 'Job Title 20']

In [5]:
# Generating the sample data
data = {
    'Application Date': [random.choice(dates).strftime('%m/%d/%y, %I:%M %p') for _ in range(1000)],
    'Contact Email': [''] * 1000,
    'Contact Phone Number': [''] * 1000,
    'Company Name': [random.choice(company_names) for _ in range(1000)],
    'Job Title': [random.choice(job_titles) for _ in range(1000)],
    'Job Url': [''] * 1000,
    'Resume Name': [''] * 1000,
    'Question And Answers': [''] * 1000
}

# Creating the pandas dataframe
df = pd.DataFrame(data)

# Sorting the dataframe by "Application Date"
df.sort_values('Application Date', inplace=True)

df.head()

,Application Date,Contact Email,Contact Phone Number,Company Name,Job Title,Job Url,Resume Name,Question And Answers
175,"01/01/20, 12:00 AM",,,Company P,Job Title 7,,,
28,"01/01/22, 12:00 AM",,,Company D,Job Title 7,,,
209,"01/01/22, 12:00 AM",,,Company P,Job Title 18,,,
162,"01/02/21, 12:00 AM",,,Company N,Job Title 15,,,
182,"01/02/21, 12:00 AM",,,Company D,Job Title 16,,,

In [6]:
# Defining the output file path
output_path = "C:/Users/visha/Documents/Projects/Portfolio Projects/linkedin_job_application_analysis/sample_data/sample_data.csv"

# Export the dataframe to CSV
df.to_csv(output_path, index=False)